.container {
  position: relative;
  margin: auto;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.center-image {
  position: absolute;
  z-index: 1;
}

.circle {
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #062f62;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); /* Initially collapsed */
}

.circle.expanded {
  align-items: center;
  justify-content: center;
  transform: scale(1); /* Expanded when image is hovered */
}

.circle.expanded.highlighted {
  background-color: skyblue; /* Highlight color */
  transform: scale(1.4); /* Slightly enlarge */
  z-index: 2; /* Ensure it's above other circles */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: add shadow for emphasis */
}
