/* Navbar.css */
/* .navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  opacity: 1;
  width: 100vw;
  height: 12vh;
}

.navBarIcon {
  width: 10vw;
  height: 8vh;
  margin-right: 8vw;
  margin-left: 1.6vw;
}

.nav-item {
  color: #062f62;
  text-decoration: none;
  margin: 0px 16px;
  font-size: 2.4vh;
}

.nav-item:hover {
  color: #4a8fe3;
} */

.header {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 5rem;
  background: #f8f8f8;
  height: 8vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  background: #f8f8f8dd;
  width: 100vw;
  margin-left: -4vw;
  margin-top: 2vh;
}

.nav-links li {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 2.4vh;
}

.search-bar {
  display: flex;
}

.logo {
  max-width: 12vw;
  max-height: 9vh;
  margin-right: 38vw;
  margin-left: 2vw;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #555;
  color: white;
}

.search-bar button:hover {
  background-color: #666;
}
